//add to child theme folder
//will be enqueued only on front page


//this should get us up to the full-width page, blank canvas to work with
@import 'our-custom-page-resets';
// @import 'mixins'; **now imported in our custom page resets

.front-img-wrap-div{
    position: relative;
    & img {
        width: 100%;
    }
}

.zh-old-front-img-div{
    position: absolute;
    top: 21vw;
    left: 53vw;
    color: $main-pages-color-text;
    @include media-greater-than(computer) {
        // left: calc(((100vw - 960px)/2) + 40vw);
    }
    // @include media-greater-than(widescreen) {
    //     left: 673px;
    //     top: 242px;
    // }
    @include media-less-than(mobile) {
        position: absolute;
        left: 5vw;
        top: 10vw;
        color: $main-pages-color-text-darker;
    }
    max-width: 500px;
    h2, h3, p {
        animation: fade-in 1s ease-out both;
        animation-delay: 0.5s;
    }
    p{
        margin-left: 4%;
        @include media-less-than(mobile){
            margin-left: 10%;
            font-weight: 500;
        }
        font-style: italic;
        animation-delay: 1.5s;
    }
    
    @include media-less-than(widescreen){

        h2,
        h3,
        h4,
        p{
            line-height: 1;
            margin-bottom: 0;
            @include media-greater-than(mobile){
                font-size: 2.5vw;
            }
        }
    }
}


.front-section-two{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    & div {
        flex: 1 1 49vw;
        height: 49vw;
        position: relative;
        @include media-less-than(mobile) {
            flex: 1 1 100%;
            height: 47vh;
        }
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease-out;

        & h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            & a {
                border-bottom: none;
                &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 0;
                    margin-top: 5px;
                    background: transparent;
                    transition: width 0.8s ease, background-color 0.8s ease;
                }
            }
        }
        & img {
            width: 100%;
            opacity: 0.1;
        }
        &:hover, &:focus {
            & a {
                color: #ddd;
                border-bottom: none;
                &:after {
                    width: 100%;
                    background: #ddd;
                }
                transition: color 0.8s ease-out;
            }
            & img {
                opacity: 1;
                transition: all 0.8s ease-out;
            }
        }
    }

    a {
        border-bottom: 1px solid #ddd;
    }
}